.home-menu-item{
  text-decoration:none;
  text-transformation:uppercase;

color:black;
  font-size:25px;
  font-weight:bold;
  text-align:center;
  border:5px solid black;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}
