html{
hieght:100%;
}


body{
font-family:sans-serif;
  margin:0;
  padding: 0;
  height: 100%;
}
.body-home{
background-image: url('images/background-01-port.png');
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

.body-meals{
background-image: url('images/background-02-port.png');
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

/==========Home Page====/

#home-logo-img{
width: 50px;
dispaly: block;
  margin: auto;
  padding:25px  10px  10px  10px;
}

#home-logo-text{
width: auto;
  display: block;
  margin: auto;
  padding: 25px;
}

/===home page menue===/
.home-menu-item{
  text-decoration:none;
  text-transformation:uppercase;

color: white;
  font-size:25px;
  font-weight:bold;
  text-align:center;
  border:5px solid white;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

/==========Home Page====/


  text-decoration: none;
}
.meals-list-items{
border: 5px solid #1a1aqa;
  margin: 10px;
}
.meals-list-items h1{
  font-wieght: bold;
  font-size: 20px;
  color:1a1a1a;
  padding-left:10px;
}

.meals-list-items i{
float:right;
  color: #1a1a1a;
  padding-right:20px;

}


.meals-list-items p{
font-size: 15px;
  font-style: italic;
  color:  4d4d4d;
  margin-top: -7px;
  padding-left: 10px;
}



















