html{
hieght: 100%;
}


body{
font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}


.body-home{
background-image: url('images/background-01-port.png');
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

.body-meals{
background-image: url('images/background-02-port.png');
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}


.home-menu-item{
  text-decoration: none;
  text-transform: uppercase;
  
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 5px solid black;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%
}
